{% extends 'base.html' %}
{% block header %}
    <h1 class="main-header">Add Pet</h1>
{% endblock header %}
{% block content %}
   <form action="" method="POST">
    {{form.hidden_tag()}}
    {% for field in form if field.widget.input_type != 'hidden' %}

        <p>
            {{field.label}}
            {{field}}

            {% for error in field.errors %}
                {{error}}
                
            {% endfor %}
        </p>
        
    {% endfor %}
    
    <a href="{{url_for('post_new_pet_to_db', form=form)}}"><button class="green-submit" formaction=>Add Pet</button></a>
   </form>
{% endblock content %}